<app-layout>

    <h2>About me</h2>
    <div class="p-4">
        <div class="row">
            <div class="col-md-4">
                <img src="https://instagram.fbkk12-2.fna.fbcdn.net/v/t51.2885-15/sh0.08/e35/s750x750/122409475_267052701363593_3626228302516612231_n.jpg?tp=1&_nc_ht=instagram.fbkk12-2.fna.fbcdn.net&_nc_cat=105&_nc_ohc=Fj8v6tFof-oAX8_kTaI&ccb=7-4&oh=4eb6a2ca9c20b4e7687484f71885c0e3&oe=607C783F"
                    class="rounded" width="90%" height="auto" alt="">
            </div>
            <div class="col-md-8">
                <br/>
               <p class="rainbow-text" style="text-indent: 1em; font-size: large;">
                I am a Software Developer i likes to coding for problem
                solving and make a great software for making life easy.
               </p> 
            </div>
        </div>
    </div>


</app-layout>